* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  height: 100%;
}
body{
  height: 100%;
}

.container{

  align-content: flex-start;
  gap: 5px;
}

@media screen and (max-width: 425px) {
  button  {
    font-size: 10px;
  }
}
button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(64, 101, 158);
    color: white;
    cursor: pointer;
    border-radius: 10px;

}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: rgb(0, 86, 179);
}




.file-button {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 14px;
}

.file-button:hover {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

#file-upload {
    display: none;
}
#filename {
    margin-left: 10px;
    font-size: 14px;
    color: black;
}


#map{
  height: 60vh;
  width: 100%;
}

#search-box{
  margin-top: 10px;
}

#pac-input{
  margin-top: 10px;
  width: 300px;
  font-size: 14px;

}

.main-title{
  font-size: 37px;
  text-align:center;
  color:rgb(231,208,169);
}

.title{
  margin: 0 auto;
  text-align: center;
  color:rgb(231,208,169);
  size: 2em;
}



.box{
  width: 100%;
}

.HowTotitle-Box{
  display: flex;
  align-items: center;
}

.HowTotitle{
  color:rgb(231,208,169);
  size: 2em;
}

.HowTotitle2{
  color:rgb(231,208,169);
  size: 2em;
}

p,li{
  color: rgb(46, 81, 134);
  overflow-wrap: break-word;
}
li{
  margin-left: 30px;
}


.form-text {
    height: 2.4em;
    width:300px;
    padding: 0 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none

}

.form-text2 {
    height: 2.4em;
    width:200px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none

}




.form-text:focus,.form-text2:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.form-group{
  margin:0 auto;
  text-align:center;
  color:rgb(231,208,169);
}

.data{
  margin:0 auto;
  text-align:center;
}

.data-position{
  margin-bottom: 10px;
}


@media screen and (max-width: 479px) {
  .header,body  {
    font-size: 10px;
  }
  .header-title{
    font-size: 1.7em;

  }
  .main-title{
    font-size: 2em;
  }
  .HowTotitle{
    font-size:1.7em;
  }
  .link,.link:visited{
  Text-decoration:none;
  font-size:0.5em
  }
}

.header{
  height:100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(64, 101, 158);
  font-size: 16px;
}

.header > :first-child{
  margin-right: auto;
}

.header-title{
  margin-left: 30px;
  color:rgb(231,208,169);

}

.menu-box{
  width: 39.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header-menu{
  margin-right: 10px;
}
.link,.link:visited{
  color:rgb(231,208,169);
  Text-decoration:none;
}





footer{
  width: 100%;
  margin: 10px 0 auto;
  text-align:center;
  height: 3.1em;
  display: flex;
  background-color: rgb(64, 101, 158);
  position: sticky;
  top: 100vh;
  bottom: 0;

}
.footer-title{
  color:rgb(231,208,169);
  margin: auto;
}



.picture{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap:20px;
}

.picture-item{
  width: 300px;
  height: 300px;
  object-fit: contain;
  text-align: center;
}

.picture-item img{
  width: 100%;
  height:auto;
  border-radius: 10px;
}

.session{
  margin: 0 auto;
  text-align: center;
}

.hokkaidou{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.touhoku{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.kanntou{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.tyuubu{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.kinnki{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.tyuugoku{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.sikoku{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.kyusyu{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.space{
  width: 100%;
}

