* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

button {
    padding: 10px 10px;
    border: none;
    background-color: rgb(64, 101, 158);
    color: white;
    cursor: pointer;
    border-radius: 10px;

}

.a-tagu,.a-tagu:visited{
    color: white;
    Text-decoration:none;
}


.main-box{
  height: 330px;

  display:flex;
  justify-content: center;
}
.index{
  color:rgb(231,208,169);
  margin-top: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.footer{
    margin: 0 auto;
    text-align: center;
}



.header{
  height:600px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(64, 101, 158);
  justify-content: center;

}


.header-title{

  font-size: 60px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color:rgb(231,208,169);
}


.footer{
  width: 100%;
  margin: 0 auto;
  text-align:center;
  height: 50px;
  display: flex;
  background-color: rgb(64, 101, 158);

}
.footer-title{
  color:rgb(231,208,169);
  margin: auto;
}