* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.container{

  display: flex;
  flex-wrap: wrap;

  gap: 10px;

}
.prefecture{
flex:1 1 auto;

}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

#map{
  height: 60vh;
  width: 100%;
}

#search-box{
  margin-top: 10px;
}

#pac-input{
  margin-top: 10px;
  width: 300px;
  font-size: 14px;

}

.title{
  margin: 0 auto;
  text-align: center;
}

.form-group{
  margin:0 auto;
  text-align:center;
}
.footer{
 text-align:center;
}
.data{
  margin:0 auto;
  text-align:center;
}

.header{
  height:100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(64, 101, 158);

}
.header > :first-child{
  margin-right: auto;
}

.header-title{
  margin-left: 40px;
  color:rgb(231,208,169);
}

.header-menu{
  margin-right: 20px;
  ;
}

.link{
  color:rgb(231,208,169)
}

.picture{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}

.picture-item{
  width: 250px;
  text-align: center;

}

.picture-item img{
  width: 100%;
  height:auto;
  border-radius: 10px;
}

.session{
  margin: 0 auto;
  text-align: center;
}